<div class="terms-of-service-content">
    <h2><strong>Map of Pi {{ 'TERMS_OF_SERVICE.TITLE' | translate }}</strong></h2>
    <h4>{{ 'TERMS_OF_SERVICE.LAST_UPDATED' | translate }}: {{ lastUpdated }}</h4>
    <h4>{{ 'TERMS_OF_SERVICE.EMAIL_ADDRESS' | translate }}: {{ emailAddress }}</h4>
    <br />
    <h2>1. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_1' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_1_1' | translate }}</li>
    </ul>

    <h2>2. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_2' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_2_1' | translate }}</li>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_2_2' | translate }}</li>
    </ul>

    <h2>3. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_3' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_3_1' | translate }}</li>
    </ul>

    <h2>4. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_4' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_4_1' | translate }}</li>
    </ul>

    <h2>5. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_5' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_5_1' | translate }}</li>
    </ul>

    <h2>6. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_6' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_6_1' | translate }}</li>
    </ul>

    <h2>7. {{ 'TERMS_OF_SERVICE.SECTIONS.HEADER_7' | translate }}</h2>
    <ul>
        <li>{{ 'TERMS_OF_SERVICE.SECTIONS.CONTENT_7_1' | translate }}</li>
    </ul>
</div>
