#map {
  height: calc(100vh - var(--mat-toolbar-mobile-height));
  z-index: 0;
}

/* Customize the route popup */
.leaflet-routing-container {
  background-color: white; /* Change background color */
  border: 2px solid #ca1010; /* Add border */
  border-radius: 5px; /* Add border radius */
  padding: 10px; /* Add padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.leaflet-routing-container .leaflet-routing-instructions {
  margin-bottom: 5px; /* Adjust margin */
}

.leaflet-routing-container .leaflet-routing-instructions ul {
  list-style: none; /* Remove list styles */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.leaflet-routing-container .leaflet-routing-instructions ul li {
  padding: 5px 0; /* Add padding */
}

.leaflet-routing-container
  .leaflet-routing-instructions
  ul
  li
  span.leaflet-routing-text {
  font-weight: bold; /* Make text bold */
}

.leaflet-routing-container
  .leaflet-routing-instructions
  ul
  li
  span.leaflet-routing-icon {
  margin-right: 5px; /* Adjust margin */
}

/* Customize the close button */
.leaflet-routing-container .leaflet-routing-popup .leaflet-popup-close-button {
  color: #333; /* Change color */
  font-size: 16px; /* Adjust font size */
  top: 5px; /* Adjust top position */
  right: 5px; /* Adjust right position */
}

/* Hover effect for close button */
.leaflet-routing-container
  .leaflet-routing-popup
  .leaflet-popup-close-button:hover {
  color: #000; /* Change color on hover */
}
