<footer class="footer">
    <div class="footer__links">
        <a href="mailto:info@mapofpi.com" class="footer__link" aria-label="Email Us" target="_blank">
            <img src="../../../assets/images/shared/footer/email-icon.svg" alt="Map of Pi Email Address" class="footer__icon">
        </a>
        <a href="https://facebook.com/mapofpi" class="footer__link" aria-label="Facebook page" target="_blank">
            <img src="../../../assets/images/shared/footer/facebook.icon.png" alt="Map of Pi Facebook Page" class="footer__icon">
        </a>
        <a href="https://instagram.com/mapofpi" class="footer__link"
            aria-label="Instagram page" target="_blank">
            <img src="../../../assets/images/shared/footer/instagram-icon.png" alt="Map of Pi Instagram Page" class="footer__icon">
        </a>
        <a href="https://twitter.com/mapofpi" class="footer__link" aria-label="Twitter page" target="_blank">
            <img src="../../../assets/images/shared/footer/x-icon.png" alt="Map of Pi Twitter Page" class="footer__icon">
        </a>
        <a href="https://tiktok.com/@mapofpi" class="footer__link" aria-label="Tiktok channel" target="_blank">
            <img src="../../../assets/images/shared/footer/tiktok-icon.svg" alt="Map of Pi TikTok Channel" class="footer__icon">
          </a>
          <a href="https://youtube.com/@mapofpi" class="footer__link" aria-label="YouTube channel" target="_blank">
            <img src="../../../assets/images/shared/footer/youtube-icon.png" alt="Map of Pi YouTube Channel" class="footer__icon">
          </a>
    </div>
    <div class="footer__legal">
        <a [routerLink]="['/privacy-policy']" class="footer__legal-link">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
        <a [routerLink]="['/terms-of-service']"class="footer__legal-link">{{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
    </div>
    <!-- <a href=""><img src="../../../assets/images/logo.svg" alt="Logo of Map of Pi" class="footer__logo">
    </a> -->
</footer>
