<footer class="footer">
    <div class="footer__links">
        <a href="mailto:info@mapofpi.com" class="footer__link footer__link--email" aria-label="Email Us" target="_blank">
            <img src="../../../assets/images/shared/footer/email-icon.svg" alt="Map of Pi Email Address" class="footer__icon">
        </a>
        <a href="https://facebook.com/mapofpi" class="footer__link footer__link--facebook" aria-label="Facebook page" target="_blank">
            <img src="../../../assets/images/shared/footer/facebook.icon.png" alt="Map of Pi Facebook Page" class="footer__icon">
        </a>
        <a href="https://instagram.com/mapofpi" class="footer__link footer__link--instagram"
            aria-label="Instagram page" target="_blank">
            <img src="../../../assets/images/shared/footer/instagram-icon.png" alt="Map of Pi Instagram Page" class="footer__icon">
        </a>
        <a href="https://twitter.com/mapofpi" class="footer__link footer__link--twitter" aria-label="Twitter page" target="_blank">
            <img src="../../../assets/images/shared/footer/x-icon.png" alt="Map of Pi Twitter Page" class="footer__icon">
        </a>
        <a href="https://discord.com/mapofpi" class="footer__link footer__link--discord" aria-label="Discord channel" target="_blank">
            <img src="../../../assets/images/shared/footer/discord-icon.png" alt="Map of Pi Discord Channel" class="footer__icon">
          </a>
          <a href="https://YouTube.com/mapofpi" class="footer__link footer__link--discord" aria-label="YouTube channel" target="_blank">
            <img src="../../../assets/images/shared/footer/youtube-icon.png" alt="Map of Pi YouTube Channel" class="footer__icon">
          </a>
    </div>
    <div class="footer__legal">
        <a (click)="displayPopup()" class="footer__legal-link">Privacy Policy</a>
        <a (click)="displayPopup()"class="footer__legal-link">Terms & Conditions</a>
    </div>
    <!-- <a href=""><img src="../../../assets/images/logo.svg" alt="Logo of Map of Pi" class="footer__logo">
    </a> -->
</footer>

<!-- Popup -->
<div class="popup-container" *ngIf="showPopup">
    <div class="popup">
      <span class="close" (click)="hidePopup()">&times;</span>
      <i class="fas fa-tools fa-3x under-construction-icon"></i>
      <br />
      <p>{{ 'BUSINESS.REGISTRATION.BUTTONS.UNDER_CONSTRUCTION' | translate }}</p>
      <button class="btn-ok" (click)="hidePopup()">OK</button>
    </div>
</div>
