.menu-settings {
  position: relative;
  top: 1.5rem;
  font-family: var(--font-family-main);
  font-weight: lighter;
}

.menu-settings__section {
  margin: 1rem;
}

.menu-settings__label {
  position: static;
  display: inline-block;
  cursor: pointer;
  margin-top: 0;
  margin-left: 4rem;
  width: 140px;
}

.hidden {
  display: none;
}

.menu-setting__floating-button-section {
  position: fixed;
  bottom: 100px;
  right: 15px;
}

.menu-setting__floating-button {
  border: none;
  background: none;
  margin-top: 6rem;
  cursor: pointer;
  outline: none;
  color: #1d724b;
  font-size: 3rem;
}

.menu-setting__floating-button:active {
  transform: translateY(4px);
}

.menu-settings__toggle {
  margin-bottom: 1.5rem;
  position: relative;
  width: 40px;
  height: 24px;
}

.menu-settings__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.menu-settings__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 2px solid #1d724b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-settings__slider:before {
  position: absolute;
  top: -0.1rem;
  right: 1.1rem;
  content: '';
  height: 24px;
  width: 22px;
  background-color: rgb(2, 2, 2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-settings__slider:after {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 1.7rem;
  width: 12px; /* Smaller than the ::before to create the donut hole */
  height: 12px;
  background-color: #ffffff; /* White for the hole */
  border-radius: 50%; /* Makes it circular */
  transition: 0.4s;
  opacity: 0; /* Make it invisible by default */
}

input:checked + .menu-settings__slider:after {
  opacity: 1; /* Make it visible when the toggle is "on" */
  /* Ensure the positioning is correct when visible */
}

.menu-settings__slider--off {
  border: 2px solid #a9a9a9;
}

.menu-settings__slider--off:before {
  background-color: #a9a9a9 !important;
}

input:checked + .menu-settings__slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.menu-settings__slider {
  border-radius: 34px;
}

.menu-settings__slider:before {
  border-radius: 50%;
  background-color: #1d724b;
}
