.order-complete-header {
    position: relative;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #ffffff;
    font-family: var(--font-family-main);
    border-bottom: 1px solid var(--color-text-color);
}

.order-complete__back-button,
.order-complete__brand,
.order-complete__app-name,
.order-complete__logo {
    margin-top: 1rem;
}
  
.order-complete__header-back-button {
    position: absolute;
    top: 40px;
    display: block;
    background: none;
    border: none;
    color: #1C1B1F;
}
  
.order-complete__logo {
    width: 25px;
    height: auto;
}

.order-complete__brand {
    display: flex; /* Flexbox to align logo and app name */
    justify-content: center; 
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
  
.order-complete__title {
    margin-top: 2rem; /* Space between app name and title */
    line-height: 24px;
    font-size: 1.125rem;
    font-weight: 500;
}

