<div id="app-footer"></div>

<script>
    function MakeIcon(parentId, a, logoSrc, logoHeight) {
        iconContainer = document.createElement("div");
            iconContainer.style = "display:inline-block; margin:4px;";
        iconLink = document.createElement("a");
            iconLink.href = a;
        iconImg = document.createElement("img");
            iconImg.src = logoSrc;
            iconImg.style.height = logoHeight;
        iconLink.appendChild(iconImg);
        iconContainer.appendChild(iconLink);
        document.getElementById(parentId).appendChild(iconContainer);
    }
    MakeIcon("app-footer", "mailto:info@mapofpi.com", "./Email_Logo.png", "30px");
    MakeIcon("app-footer", "https://facebook.com/mapofpi", "./Facebook_Logo_Primary.png", "30px");
    MakeIcon("app-footer", "https://instagram.com/mapofpi", "./Instagram_Glyph_Gradient.png", "30px");
    MakeIcon("app-footer", "https://twitter.com/mapofpi", "./Twitter_Logo.png", "30px");
</script>