<main class="menu-settings">
    <section class="menu-settings__section">
       <div class="menu-settings__toggle">
          <label for="menu-toggle" class="menu-settings__label">Menu <span class="toggle-status">{{ menuStatusLabel }}</span>
             <input type="checkbox" id="menu-toggle" name="menu_toggle" class="menu-settings__checkbox" #menuToggle (change)="onToggleChange('menu-toggle')">
             <span class="menu-settings__slider"></span>
          </label>
       </div>
       <div class="menu-settings__toggle hidden" #orderToggleDiv>
          <label for="order-toggle" class="menu-settings__label">Accept orders <span class="toggle-status">{{ orderStatusLabel }}</span>
             <input type="checkbox" id="order-toggle" name="order_toggle" class="menu-settings__checkbox" (change)="onToggleChange('order-toggle')">
             <span class="menu-settings__slider"></span>
          </label>
       </div>
       <div class="menu-settings__toggle hidden" #paymentToggleDiv>
          <label for="payment-toggle" class="menu-settings__label">Accept payments <span class="toggle-status">{{ paymentStatusLabel }}</span>
             <input type="checkbox" id="payment-toggle" name="payment_toggle" class="menu-settings__checkbox" (change)="onToggleChange('payment-toggle')">
             <span class="menu-settings__slider"></span>
          </label>
       </div>
    </section>
 
    <section class="menu-setting__floating-button-section" #addItemButtonSection>
       <button class="menu-setting__floating-button hidden" #floatingButtonSection>
          <img src="../../../../assets/images/business/menu-add-button.png" alt="Add new item button">
       </button>
    </section>
    <div id="items-display-area"></div>
</main>
