<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>language</mat-icon>
</button>

<mat-menu #menu="matMenu" class="max-h-15 rounded-lg border-5 border-black-300">
  <div class="flex flex-row justify-center">
    @for (language of languages; track language) {
      <button mat-menu-item (click)="switchLanguage(language.code)" class="flex">
        <img [src]="language.imageUrl" alt="{{ language.name }}" class="flag-icon w-8 h-8"> 
      </button>
      <!-- <span class="flex flex-row">{{ language.code }}</span> -->
    }
  </div>
</mat-menu>

