/* Business info and business image section */
.order-menu__content {
    /* min-height: 100vh; */
    letter-spacing: 0.7px;
    flex-grow: 1;
    margin: 10px;
    // margin-bottom: 5rem;
    // margin-top: 2rem;
    padding-bottom: 150px;
}

.inner-wrapper {
  max-width: 300px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}

.order-menu__business-name {
    font-size: 1rem;
    margin-bottom: 0;
}

.order-menu__type,
.order-menu__location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.order-menu__type img,
.order-menu__location img {
  height: 20px;
  width: auto;
}

.order-menu__product-text,
.order-menu__location-address {
    font-size: 0.7rem;
}

.order-menu__business-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
}

.order-menu__business-image {
    margin: 0 auto;
    width: 74px;
    height: 94px;
    border-radius: 10px;
    margin-top: 1rem;
    object-fit: cover;
}

/* Menu switch section*/
.order-menu__switch-section {
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
    margin-top: 1rem;
    border: 1px solid var(--color-text-color);
}

.order-menu__switch-buttons {
  display: flex;
  /* width: 100%; */
}

.order-menu__switch-button {
    flex: 1;
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    position: relative;
    z-index: 2;
}

.order-menu__switch-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transition: left 0.3s;
  z-index: 1;
  background-color: var(--color-highlight-color);
}

.order-menu__switch-button-text-stamps {
  color: #ffffff;
}

/* Section for order payment message */
.order-menu__highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    margin-top: 1rem;
    background-color: #fad09e;
}

.order-menu__highlight-text {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
}

/* Section for menu products and images */
.order-menu__products {
    max-width: 19rem;
}

.order-menu__product-info {
    display: flex;
    align-items: center;
}

.order-menu__product-text {
    flex: 1;
    margin-bottom: 0.8rem;
}

.order-menu__product-amount {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 0.7rem;
}

.order-menu__pi-logo {
    width: 16px;
}

// .order-menu__product-image {
//   display: flex;
// }

// .order-menu__product-image img {
//   width: 64px;
//   height: 64px;
//   //   object-fit: cover;
//   border-radius: 10px;
// }

.order-menu__product-image-text {
    position: relative;
    bottom: 1.2rem;
    padding: 0.5rem;
    font-size: 0.6rem;
}

.order-menu__product-quantity {
    position: relative;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.order-menu__quantity-button--decrease,
.order-menu__quantity-input,
.order-menu__quantity-button--increase {
    margin: 0.2rem;
}

.order-menu__quantity-input {
    width: 0.4rem;
    height: 5px;
    border-radius: 5px;
    border: 2px solid var(--color-text-color);
    padding: 0.5rem;
}

.order-menu__quantity-button {
    border-radius: 50px;
    border: 2px solid var(--color-text-color);
    width: 24px;
    height: 24px;
}

.order-menu__add-button {
    margin-left: 0.7rem;
    padding: 0.4rem;
    width: 3rem;
    border-radius: 10px;
    background-color: var(--color-highlight-color);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.order-menu__add-button:hover {
  background-color: #164c36;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.order-menu_add-button-text {
    font-size: 0.7rem;
}

.hidden {
  display: none;
}

.order-menu__delete-button {
  background: none;
  border: none;
}

.order-menu__delete-buttons {
    width: 2rem;
    height: auto;
}

@media (min-width: 768px) {
    .order-menu__content {
      margin: 0 auto;
      margin-top: 3rem;
    }
  
    .inner-wrapper {
      max-width: 700px;
      background-color: #ffffff;
      padding: 3rem;
    }
  
    .order-menu__business-label {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
  
    .order-menu__products {
      min-width: 35rem;
    }
  
    .order-menu__switch-section {
      min-width: 34rem;
      padding: 0.5rem;
    }
  
    .order-menu__highlight {
      min-width: 35rem;
      height: auto;
    }
  
    .order-menu__highlight-text {
      font-size: 0.7rem;
    }
  
    .order-menu__switch-button-text {
      font-size: 0.9rem;
    }
  
    .order-menu__switch-button-text-stamps {
      font-size: 0.9rem;
    }
  
    .order-menu__product-image img {
      width: 84px;
      height: 84px;
    }
  
    .order-menu__product-image-text {
      max-width: 25rem;
      font-size: 1rem;
    }
  
    .order-menu__business-image {
      width: 178px;
      height: 158px;
      border-radius: 10px;
      margin-top: 1rem;
      object-fit: cover;
    }
    .order-menu__business-name {
      font-size: 1.7rem;
      margin-bottom: 0;
    }
  
    .order-menu__product-text,
    .order-menu__location-address {
      font-size: 1rem;
    }
}
