<header class="cart-header">
    <button class="cart-header__back-button" aria-label="Go back">
        <i class="fa-solid fa-arrow-left-long"></i>
    </button>
    <div class="cart-header__brand">
        <img src="../../../assets/images/logo.svg" alt="Logo" class="cart-header__logo">
        <span class="cart-header__app-name">Map of Pi</span>
    </div>
    <h1 class="cart-header__title">Shopping Cart</h1>
</header>

<main class="cart-content">
    <section class="cart-content__section">
        <h2 class="cart-content__business-name">Business name</h2>
        <p class="cart-content__prep-time">
        The order will be ready in: <span></span><span id="time-remaining">29:32</span> <span class="minutes">minutes</span>
        </p>
        <div class="cart-content__cart-item">
        <img src="../../../assets/images/shopping/Dish-icon.png" alt="Dish icon" class="cart-content__dish-icon">
        <p class="cart-content__description">1x Dish 1</p>
        </div>
        <div class="cart-content__total-label">
        <span class="cart-content__total-price">Total Price:</span>
        <span class="cart-content__total-value">XX</span>
        <img src="../../../assets/images/shopping/Pi-transaction-icon.png" alt="Pi logo" class="cart-content__pi-icon">
        </div>
    </section>
</main>   
