.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; 
    max-width: 90%;
    display: none;
    z-index: 1000;
}

.modal__content {
    padding: 40px;
    font-family: var(--font-family-main);
    font-weight: 600;
}

.modal__close-button {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    border: none;
    background: none;
    font-size: 1.4rem; 
}

.modal__title {
    font-family: var(--font-family-main);
    font-size: 0.8rem;
    margin: 10px 0;
    text-align: center;
}

.modal__item-name {
    display:grid;
    justify-content: center;
    text-align: start;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
}

.modal__input {
    align-items: center;
    height: 25px;
    border-radius: 5px;
}

.modal__add-button {
    position: relative;
    left: -15px;
    border: none;
    background: none;
    right: 20px;
    cursor: pointer;
}

.modal__add-item-button {
    position: absolute;
    left: 3.7rem;
}

.modal__add-button img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.modal__image-preview {
    position: relative;
    right: 15px;
    bottom: 65px;
    height: 0;
}

.modal__image-preview img {
    width: 70px;
    height: 62px;
    border-radius: 10px;
    object-fit: cover;
}

.image-preview__close {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
}

.modal__input--price {
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.modal__add-price {
    position: relative;
    left: 100px;
}

.modal__add-price {
    top: 10px;
}

.modal__item-icon {
    position: relative;
    left: 42px;
    bottom: 20px;
    cursor: pointer;
}

.modal__item-icon img {
    width: 15px;
}

.modal__prep-time {
    display: grid;
    justify-content: center;
    text-align: start;
    margin-bottom: 0.5rem;
}

.modal__input-prep-time {
    width: 50%;
}

.modal__label {
    display: block;
    justify-content: start;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
}


.modal__textarea {
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--color-text-color);
}

.modal__confirm-btn {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-text-color);
    color: white;
    cursor: pointer;
}

#items-display-area {
    padding: 10px;
    border-radius: 5px;
}

.item {
    position: relative;
    background-color: white;
    display: flex;
    align-items: flex-start;
    gap: 10px; 
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 5px;
}

.item-text {
    display: block;
    padding: 10px;
}

.item h3 {
    margin: -0.3rem; 
    font-size: 0.8rem; 
    color: #333; 
    margin-bottom: 0.2rem;
}

.item p {
    margin: 0;
    padding: 0;
    max-width: 100px;
    font-size: 0.6rem; 
    color: var(--color-text-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.delete-item-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    font-size: 10px;
}



