.business-registration {
    padding: 1rem;
    font-family: var(--font-family-main);
    font-weight: bold;
}

.business-registration__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.business-registration__field {
    display: flex;
    flex-direction: column;
}

.business-registration__input,
.business-registration__select {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #090C49;
}

.business-registration__field-middle {
    margin-top: 0.5rem;
}

.business-registration__field-bottom {
    margin-top: 1.3rem;
}

#location {
    padding: 0.5rem;
}

.business-registration__label {
    padding-bottom: 5px;
}

.business-registration__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.business-registration__item {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    background-color: #ffc153;
}

.business-registration__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-color);
    text-decoration: none;
}

.business-registration__button {
    width: 100%;
    padding: 0.7rem;
    background-color: #1d724b;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.7rem;
    background-color: #1d724b;
    color: #ffffff;
    font-size: 0.9rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.business-registration__button:active {
    background-color: #164c36; 
}
  