<div class="flex justify-center">
  <form class="search-bar max-w-lg">
    <mat-form-field class="w-full">
      <mat-label>{{ 'HOME.SEARCH_BAR_PLACEHOLDER' | translate }}</mat-label>
      <input type="text" matInput [formControl]="searchBarControl" [matAutocomplete]="auto" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions$ | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
