.wallet-header {
   background-color: #6f3d92;
   color: white;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 0.2rem 1rem;
   font-family: 'Lato', sans-serif;
}

.wallet-header__back-button,
.wallet-header__center-group,
.wallet-header__dropdown-button {
  margin-top: 1.5rem;
}
 
.wallet-header__back-button {
   background: none;
   border: none;
   cursor: pointer;
   color: #ffffff;
   opacity: 0.3;
}

.wallet-header__wallet-button, .wallet-header__logo {
   background: none;
   border: none;
   cursor: pointer;
}

.wallet-header__wallet-button img {
   height: 2rem;
   border-radius: 0.3rem;
}
 
.wallet-header__title {
   font-size: 1.5rem;
   font-weight: 300;
   margin: 0 5px;
   white-space: nowrap;
}
 
.wallet-header__logo {
   width: 2.5em;
   height: 2.5em;
}
 
.wallet-header__dropdown-button {
   color: #ffffff;
}
 
 /* Ensures the wallet icon, title, and logo are centered together */
.wallet-header__center-group {
   display: flex;
   align-items: center;
   justify-content: center;
}

.wallet-header__wallet-button, .wallet-header__title, .wallet-header__logo {
   margin: 0 1rem;
}

.wallet-header__back-button,
.wallet-header__dropdown-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
   .wallet-header__wallet-button, .wallet-header__title, .wallet-header__logo {
      margin: 0 0.2rem;
   }

   .wallet-header__back-button {
      font-size: 0.7rem;
   }

   .wallet-header__wallet-button img {
      height: 1.3rem;
      border-radius: 0.3rem;
   }
    
   .wallet-header__title {
      font-size: 1rem;
   }
    
    .wallet-header__logo {
      width: 1.8em;
      height: 1.8em;
    }
    
   .wallet-header__dropdown-button {
      font-size: 0.7rem;
   }
}