mat-toolbar {
  height: var(--mat-toolbar-mobile-height);
}

.main-button {
  padding: 0;
}

#logo-img {
  width: 3rem;
  height: 3rem;
}

.group-controls {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

#logo-img {
  transition: transform 0.3s ease;
}

.text-container {
  display: none;
  position: absolute;
  top: 65%;
  left: 100%;
  transform: translate(-100%, -50%);
  padding: 10px;
  transition: left 0.3s ease, opacity 1s ease 1s;
  outline: none;
  cursor: help;
}

.image-container:hover #logo-img {
  transform: translateX(-90px);
}

.image-container:hover .text-container {
  display: block;
  left: calc(100% + 10px);
  opacity: 1;
}
