@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

mat-toolbar {
  height: var(--mat-toolbar-mobile-height);
}

.main-button {
  padding: 0;
}

#logo-img {
  width: 3rem;
  height: 3rem;
}

.group-controls {
  display: flex;
  align-items: center;
}

/** TODO -> [IMAGE W/ TEXT EFFECT] .image-container {
  position: relative;
  display: inline-block;
}

#logo-img {
  transition: transform 0.3s ease;
}

.text-container {
  display: none;
  position: absolute;
  top: 65%;
  left: 100%;
  transform: translate(-100%, -50%);
  padding: 10px;
  transition: left 0.3s ease, opacity 1s ease 1s;
  outline: none;
  cursor: help;
}

.image-container:hover #logo-img {
  transform: translateX(-90px);
}

.image-container:hover .text-container {
  display: block;
  left: calc(100% + 10px);
  opacity: 1;
} **/

.image-container {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: crosshair;
}

.text-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover .text-container {
  opacity: 1;
}

#logo-img {
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover #logo-img {
  opacity: 0;
}

/** POPUP STYLE **/
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 600;
}

.popup {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  width: 600px;
  cursor: crosshair;
}

.popup p {
  font-size: 16px;
}

.popup h2 {
  margin-bottom: 5px;
}

.popup h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.btn-ok {
  background-color: #1D724B;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.social-media-links {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-link {
  display: block;
  margin: 0 25px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.social-media-link:hover {
  color: #1D724B;
}

.privacy-policy-content {
  max-height: 400px;
  overflow-y: auto;
}

.privacy-policy-link {
  font-weight: bold;
}

.privacy-policy-link:hover {
  color: #1D724B;
}

/** PRIVACY POLICY CONTENT **/
.privacy-policy-content body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.privacy-policy-content h1, h2 {
  color: #1d724b;
}

.privacy-policy-content h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.privacy-policy-content p {
  margin-bottom: 20px;
}

.privacy-policy-content ul {
  margin-bottom: 20px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .popup {
    width: 75%;
    max-width: none;
  }
}
