<mat-toolbar class="justify-between">
  @if (showBackButton()) {
    <div class="group-controls">
      <button mat-icon-button (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span [routerLink]="['/home']">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </span>
    </div>
  } @else {
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
  }

  <div class="image-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img id="logo-img" [src]="imageUrl" alt="Map of Pi" width="48" height="48" [class.hovered-img]="isHovered" />
    <div class="text-container" [routerLink]="['/privacy-policy']">
        <p>Map of Pi</p>
    </div>
  </div>

  <div class="group-controls">
    <button mat-icon-button (click)="displayPopup()">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <app-dark-mode-toggler></app-dark-mode-toggler>
    <app-language-switcher></app-language-switcher>
  </div>
</mat-toolbar>

<!-- Popup -->
<div class="popup-container" *ngIf="showPopup">
  <div class="popup">
    <span class="close" (click)="hidePopup()">&times;</span>
    <br />
      <a href="mailto:info@mapofpi.com" class="social-media-link">
        <i class="fas fa-envelope"></i> Email
      </a>
      <a href="https://facebook.com/mapofpi" class="social-media-link">
        <i class="fab fa-facebook-square"></i> Facebook
      </a>
      <a href="https://instagram.com/mapofpi" class="social-media-link">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://twitter.com/mapofpi" class="social-media-link">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    <p>This functionality is not fully built yet.</p>
    <button class="btn-ok" (click)="hidePopup()">OK</button>
  </div>
</div>
