<mat-toolbar class="justify-between">
  @if (showBackButton()) {
  <div class="group-controls">
    <button mat-icon-button (click)="navigateBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span [routerLink]="['/home']">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </span>
  </div>
  } @else {
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  }

  <div class="image-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img id="logo-img" [src]="imageUrl" alt="Map of Pi" width="48" height="48" [class.hovered-img]="isHovered" />
    <div class="text-container">
      <p>Map of Pi</p>
    </div>
  </div>

  <div class="group-controls">
    <button mat-icon-button (click)="displayPopup()">
      <mat-icon>help</mat-icon>
    </button>
    <app-dark-mode-toggler></app-dark-mode-toggler>
    <app-language-switcher></app-language-switcher>
  </div>
</mat-toolbar>

<!-- Popup -->
<div class="popup-container" *ngIf="showPopup">
  <div class="popup">
    <span class="close" (click)="hidePopup()">&times;</span>
    <h2 *ngIf="!showPrivacyPolicy">Welcome to Map of Pi</h2>
    <h4 *ngIf="!showPrivacyPolicy">[Alpha Version]</h4>
    <br />
    <p (click)="showPrivacyPolicyPopup()" *ngIf="!showPrivacyPolicy" class="privacy-policy-link">Privacy Policy</p>
    <br />
    <div *ngIf="!showPrivacyPolicy">
      <br />
      <div class="social-media-links">
        <a href="mailto:info@mapofpi.com" class="social-media-link" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://facebook.com/mapofpi" class="social-media-link" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://instagram.com/mapofpi" class="social-media-link" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/mapofpi" class="social-media-link" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <button class="btn-ok" (click)="hidePopup()">OK</button>
    </div>
    <div *ngIf="showPrivacyPolicy" class="privacy-policy-content">
      <!-- Privacy policy content -->
      <br />
      <div class="privacy-policy-content">

        <body>
          <h2><strong>Map of Pi Privacy Policy</strong></h2>
          <h4>Last Updated: {{ lastUpdated }}</h4>
          <h4>Email Address: {{ emailAddress }}</h4>
          <br />

          <h2>1. Introduction</h2>
          <ul>
            <li>Welcome to the Map of Pi app, developed by the Map of Pi team in collaboration with the Pi Community.
              This
              Privacy
              Policy outlines how we collect, use, disclose, and protect your personal information when you use our
              mobile
              application.</li>
          </ul>

          <h2>2. Information We Collect</h2>
          <ul>
            <li><strong>2.1 User Information</strong>
              <ul>
                <li>When you register as a user, we may collect your name, email address, username, and other relevant
                  details.
                </li>
                <li>We may collect information about your device, including device type, operating system, and unique
                  device
                  identifiers.</li>
              </ul>
            </li>
            <li><strong>2.2 Vendor Information</strong>
              <ul>
                <li>Vendors registering on the platform may be required to provide business information, including
                  business
                  name, location, and contact details.</li>
              </ul>
            </li>
          </ul>

          <h2>3. How We Use Your Information</h2>
          <ul>
            <li><strong>3.1 Providing Services</strong>
              <ul>
                <li>We use your information to provide and enhance the Map of Pi app services, including user and vendor
                  functionalities.</li>
              </ul>
            </li>
            <li><strong>3.2 Communication</strong>
              <ul>
                <li>We may use your contact information to send you updates, notifications, and promotional messages
                  related to
                  the Map of Pi app.</li>
              </ul>
            </li>
            <li><strong>3.3 Analytics</strong>
              <ul>
                <li>We collect and analyze data to improve the performance, features, and functionality of the app.</li>
              </ul>
            </li>
          </ul>

          <h2>4. Sharing Your Information</h2>
          <ul>
            <li><strong>4.1 With Vendors</strong>
              <ul>
                <li>User information may be shared with vendors for order fulfillment and communication purposes.</li>
              </ul>
            </li>
            <li><strong>4.2 With Third Parties</strong>
              <ul>
                <li>We may share information with third-party service providers for app functionality, analytics, and
                  payment
                  processing.</li>
              </ul>
            </li>
          </ul>

          <h2>5. Security Measures</h2>
          <ul>
            <li>We employ industry-standard security measures to protect your information. However, no method of
              transmission
              over
              the internet or electronic storage is completely secure.</li>
          </ul>

          <h2>6. Your Choices</h2>
          <ul>
            <li>You can update or delete your account information through the app settings. You may also opt-out of
              promotional
              communications.</li>
          </ul>

          <h2>7. Changes to This Privacy Policy</h2>
          <ul>
            <li>We may update this Privacy Policy as necessary. The latest version will be posted on our website or
              within
              the app.</li>
          </ul>

          <h2>8. Contact Us</h2>
          <ul>
            <li>If you have any questions or concerns about this Privacy Policy, please contact us &#64; <strong><a
                  href="mailto:contact@email.com">Map of Pi</a></strong>.</li>
          </ul>

        </body>
      </div>
      <button class="btn-ok" (click)="hidePrivacyPolicyPopup()">OK</button>
    </div>
  </div>
</div>
