mat-toolbar {
  height: var(--mat-toolbar-mobile-height);
}

.main-button {
  padding: 0;
}

#logo-img {
  width: 3rem;
  height: 3rem;
}

.optional-controls {
  display: flex;
  align-items: center;
}
