mat-toolbar {
  height: var(--mat-toolbar-mobile-height);
}

.main-button {
  padding: 0;
}

#logo-img {
  width: 3rem;
  height: 3rem;
}

.group-controls {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: crosshair;
}

.text-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover .text-container {
  opacity: 1;
}

#logo-img {
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover #logo-img {
  opacity: 0;
}

/** POPUP STYLE **/
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/** TODO -> [IMAGE W/ TEXT EFFECT] .image-container {
  position: relative;
  display: inline-block;
}

#logo-img {
  transition: transform 0.3s ease;
}

.text-container {
  display: none;
  position: absolute;
  top: 65%;
  left: 100%;
  transform: translate(-100%, -50%);
  padding: 10px;
  transition: left 0.3s ease, opacity 1s ease 1s;
  outline: none;
  cursor: help;
}

.image-container:hover #logo-img {
  transform: translateX(-90px);
}

.image-container:hover .text-container {
  display: block;
  left: calc(100% + 10px);
  opacity: 1;
} **/
