<mat-toolbar class="justify-between">
  @if (showBackButton()) {
  <div class="group-controls">
    <button mat-icon-button (click)="navigateBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>
      <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
    </span>
  </div>
  } @else {
  <button mat-icon-button [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
  </button>
  }

  <div class="image-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img id="logo-img" [src]="imageUrl" alt="Map of Pi" width="50" height="50" [class.hovered-img]="isHovered" />
    <div class="text-container">
      <!-- <p>{{ 'CORE.APP_NAME' | translate }}</p> -->
      <p>Map of Pi</p>
    </div>
  </div>

  <div class="group-controls">
    <button mat-icon-button (click)="displayInfoPopup()">
      <mat-icon >update</mat-icon>
    </button>
    <!-- TODO -> <app-dark-mode-toggler></app-dark-mode-toggler> -->
    <app-language-switcher></app-language-switcher>
  </div>
</mat-toolbar>

<div class="popup-container" *ngIf="showPopup" (click)="closeInfoPopup()">
  <app-information></app-information>
</div>
