<h2 mat-dialog-title class="text-2xl font-bold text-center relative">
  <span>Map of Pi Invitation</span>
</h2>
<mat-dialog-content class="text-lg mb-6" style="color:#000">
  <p>
    Greetings <span class="font-extrabold" style="color:#1D724B">{{ data.name }}!</span>,
  </p>
  <p class="mb-2">
    We're excited to welcome you aboard!
    As Map of Pi continues to evolve, we appreciate your patience and support during this ongoing journey.
    Together, we can enhance the Map of Pi experience even further.
  </p>
  <p class="mb-2">
    Join our vibrant social media community, where you can:
  </p>
  <ul class="list-disc pl-6 mb-4" style="color:#1D724B">
    <li>Engage in discussions about Map of Pi's features and functionalities.</li>
    <li>Share any issues or bugs you come across for swift resolution.</li>
    <li>Propose exciting new features or improvements to enhance the Map of Pi experience.</li>
    <li>Explore partnership opportunities and collaborations.</li>
    <li>Connect with like-minded individuals for community fun and companionship.</li>
  </ul>
  <p>Let's build Map of Pi together!</p>
</mat-dialog-content>
<div class="flex justify-center items-center pb-5">
  <mat-dialog-actions class="flex justify-center items-center">
    <button mat-button mat-dialog-close mat-dialog-close="false">
      <a href="https://twitter.com/mapofpi" target="_blank" class="px-4 py-2 bg-yellow-600 text-white rounded-md">Start
        Here with Twitter X!</a>
    </button>
  </mat-dialog-actions>
</div>