<div class="px-4 min-h-screen max-[124px]:">
  <img
    src="assets/shop1.jpg_large"
    alt="business image here"
    class="w-full h-60 rounded-md mb-1" />
  <div class="text-lg font-semibold pt-1 pb-2">Soleil Shop here</div>
  <p class="text-gray-700 mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id expedita
    beatae placeat quaerat, provident fugit est sunt ex dolore blanditiis odit
    pariatur sequi non minima. Assumenda doloribus rerum nemo.
  </p>

  <h3
    class="text-lg font-semibold mb-4 border-b border-gray-700 pb-2 flex justify-between items-center">
    <div>My products</div>
    <button class="bg-green-300 px-3 rounded-md" (click)="goToBusiness()">
      Add new product
    </button>
  </h3>

  <div
    class="flex justify-between gap-2 items-center shadow-md p-3 rounded-md mb-2">
    <img
      src="assets/products/shoes2.jpg"
      alt="products image"
      class="w-16 h-auto rounded-md" />
    <div>
      <div class="font-semibold">Product name</div>
      <div class="text-gray-400 text-[14px]">
        some name here an some lorem to appear her
      </div>
      <div class="text-green-600">24 PI</div>
    </div>

    <button
      class="bg-red-500 hover:bg-green-600 px-5 py-1 rounded-md text-white whitespace-nowrap">
      Buy Now
    </button>
  </div>
  <div
    class="flex justify-between gap-2 items-center shadow-md p-3 rounded-md mb-2">
    <img
      src="assets/products/shoes3.webp"
      alt="products image"
      class="w-16 h-auto rounded-md" />
    <div>
      <div class="font-semibold">Product name</div>
      <div class="text-gray-400 text-[14px]">
        some name here an some lorem to appear her
      </div>
      <div class="text-green-600">24 PI</div>
    </div>

    <button
      class="bg-red-500 hover:bg-green-600 px-5 py-1 rounded-md text-white whitespace-nowrap">
      Buy Now
    </button>
  </div>
  <div
    class="flex justify-between gap-2 items-center shadow-md p-3 rounded-md mb-2">
    <img
      src="assets/products/shoes1.jpg"
      alt="products image"
      class="w-16 h-auto rounded-md" />
    <div>
      <div class="font-semibold">Product name</div>
      <div class="text-gray-400 text-[14px]">
        some name here an some lorem to appear her
      </div>
      <div class="text-green-600">24 PI</div>
    </div>

    <button
      class="bg-red-500 hover:bg-green-600 px-5 py-1 rounded-md text-white whitespace-nowrap">
      Buy Now
    </button>
  </div>
</div>
