<main class="mb-[100px]">
  <section class="menu-settings__section">
    <div class="mb-3">{{ 'BUSINESS.CONFIGURATION.LABELS.SHOP_NAME' | translate }} {{ shop.name }}</div>
    <div class="menu-settings__toggle">
      <label for="menu-toggle" class="menu-settings__label"
        >{{ 'BUSINESS.CONFIGURATION.LABELS.MENU' | translate }} <span class="toggle-status">{{ menuStatusLabel }}</span>
        <input
          type="checkbox"
          id="menu-toggle"
          name="menu_toggle"
          class="menu-settings__checkbox"
          #menuToggle
          (change)="onToggleChange('menu-toggle')" />
        <span class="menu-settings__slider"></span>
      </label>
    </div>
    <div class="menu-settings__toggle hidden" #orderToggleDiv>
      <label for="order-toggle" class="menu-settings__label"
        >{{ 'BUSINESS.CONFIGURATION.LABELS.ACCEPT_ORDERS_WITHOUT_PAYMENT_MESSAGE' | translate }}
        <span class="toggle-status">{{ orderStatusLabel }}</span>
        <input
          type="checkbox"
          id="order-toggle"
          name="order_toggle"
          class="menu-settings__checkbox"
          (change)="onToggleChange('order-toggle')" />
        <span class="menu-settings__slider"></span>
      </label>
    </div>
    <div class="menu-settings__toggle hidden" #paymentToggleDiv>
      <label for="payment-toggle" class="menu-settings__label"
        >{{ 'BUSINESS.CONFIGURATION.LABELS.ACCEPT_PI_TRANSACTIONS_MESSAGE' | translate }}
        <span class="toggle-status">{{ paymentStatusLabel }}</span>
        <input
          type="checkbox"
          id="payment-toggle"
          name="payment_toggle"
          class="menu-settings__checkbox"
          (change)="onToggleChange('payment-toggle')" />
        <span class="menu-settings__slider"></span>
      </label>
    </div>
  </section>

  <section class="menu-setting__floating-button-section" #addItemButtonSection>
    <button
      class="menu-setting__floating-button hidden"
      #floatingButton
      (click)="showModal()">
      <i class="fa-solid fa-circle-plus"></i>
    </button>
  </section>

  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 sm:grid-cols-2 gap-2" #itemsDisplayArea></div>
  </div>
</main>

<!-- add product to shop model starts here -->
<div
  class="modal"
  #addItemModal
  [style.display]="isPreviewImageVisible ? 'block' : 'none'">
  <div class="modal__content">
    <form [formGroup]="businessProductsForm">
      <button
        type="button"
        class="modal__close-button"
        aria-label="Close"
        (click)="hideModal($event)">
        &times;
      </button>

      <!-- Modal title -->
      <h2 class="modal__title">{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.ADD_PRODUCT_INTO_SHOP_MESSAGE' | translate }}</h2>

      <!-- product name-->
      <div class="flex flex-col gap-0 w-full mb-2">
        <label for="item-name" class="modal__label font-bold"
          >{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.PRODUCT_NAME' | translate }}</label
        >
        <input
          type="text"
          id="item-name"
          class="appearance-none border border-gray-300 rounded-md py-2 px-4 leading-tight focus:outline-none focus:border-blue-500"
          formControlName="itemName" />
      </div>

      <!-- product images -->
      <div class="flex flex-col gap-1 w-full mb-3">
        <label for="item-name" class="modal__label text-gray-700 font-bold"
          >{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.PRODUCT_IMAGES' | translate }}</label
        >
        <input
          type="file"
          id="item-image-upload"
          class="modal__input-file hidden"
          accept="image/*"
          (change)="handleImageUpload($event)" />
        <label
          for="item-image-upload"
          class="modal__add-button bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md cursor-pointer flex items-center justify-center"
          aria-label="Add item">
          <img
            [src]="
              previewImageSrc
                ? previewImageSrc
                : '../../../../assets/images/business/add-item-button.png'
            "
            alt="Add item button"
            class="w-6 h-6 mr-2" />
            {{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.ADD_IMAGE' | translate }}
        </label>
        <div id="image-preview" class="modal__image-preview">
          <img
            [src]="previewImageSrc"
            alt="Image Preview"
            *ngIf="isPreviewImageVisible"
            class="w-full h-auto" />
          <span
            class="image-preview__close absolute top-2 right-2 text-white bg-red-500 rounded-full w-6 h-6 flex items-center justify-center cursor-pointer"
            (click)="clearPreviewImage()"
            *ngIf="isPreviewImageVisible"
            >&times;</span
          >
        </div>
      </div>

      <!-- product price -->

      <div class="flex flex-col gap-1 mb-3 w-full">
        <label for="item-price" class="text-gray-700 font-bold">{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.PRICE' | translate }}</label>
        <div class="relative">
          <input
            type="text"
            id="item-price"
            class="border border-gray-300 w-full rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
            formControlName="itemPrice" />
          <span
            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
            PI
          </span>
        </div>
        <!-- <div class="modal__item-icon">
          <img
            src="../../../../assets/images/business/Pi-logo.png"
            alt="Pi logo"
            class="w-8 h-8" />
        </div> -->
      </div>

      <!-- Preparation time input group -->
      <div class="flex gap-0 flex-col mb-3">
        <label for="prep-time" class="modal__label font-bold"
          >{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.FOOD_SERVICE.TIME_PREPARATION_MESSAGE' | translate }}</label
        >
        <input
          type="text"
          id="prep-time"
          class="appearance-none border border-gray-300 rounded-md py-2 px-4 leading-tight focus:outline-none focus:border-blue-500"
          formControlName="prepTime" />
      </div>

      <!-- Description input group -->
      <div class="modal__description">
        <label for="description" class="modal__label font-bold"
          >{{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.LABELS.DESCRIPTION' | translate }}</label
        >
        <textarea
          id="description"
          class="border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500 resize-none"
          maxlength="50"
          rows="4"
          formControlName="description"></textarea>
      </div>

      <!-- Confirm button -->
      <div class="modal__confirm">
        <button
          type="button"
          class="modal__confirm-btn"
          (click)="addProductToShop()">
          @if (isLoading) {
            {{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.BUTTONS.LOADING' | translate }}
          } @else {
            {{ 'BUSINESS.CONFIGURATION.ADD_PRODUCT_MENU.BUTTONS.CONFIRM' | translate }}
          }
        </button>
      </div>
    </form>
  </div>
</div>

<!-- add product to shop ends here -->
