@use "../node_modules/@angular/material/" as mat;

@import './assets/styles/fonts.scss';
@import './assets/styles/reset.scss';
@import './assets/styles/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 21rem;}

// define custom dark theme colors
$dark-primary: mat.define-palette(mat.$amber-palette);
$dark-accent: mat.define-palette(mat.$green-palette);
$dark-warn: mat.define-palette(mat.$yellow-palette);

// define dark mode theme
$angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-mode { 
  @include mat.all-component-colors($angular-dark-theme); 
  background-color: #2b2b2b;
  color: #ffffff;
}
