@use "../node_modules/@angular/material/" as mat;

@import './assets/styles/fonts.scss';
@import './assets/styles/reset.scss';
@import './assets/styles/variables.scss';
@import './assets/styles/base.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  min-width: 21rem;
  background-image: url('./assets/images/background.svg');
  background-color: rgba(255, 255, 255, 0.15);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// define custom dark theme colors
$dark-primary: mat.define-palette(mat.$amber-palette);
$dark-accent: mat.define-palette(mat.$green-palette);
$dark-warn: mat.define-palette(mat.$yellow-palette);

// define dark mode theme
$angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-mode { 
  @include mat.all-component-colors($angular-dark-theme); 
  background-color: #111d11;
  color: #ffffff;
  background-blend-mode: multiply;

  .business-registration__input, .business-registration__select {
    background-color: #092709;
  }

  .popup {
    background-color: #111d11;
  }

  .input {
    background-color: #111d11;
  }
}
