@use "../node_modules/@angular/material/" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 21rem;}

// define custom dark theme colors
$dark-primary: mat.define-palette(mat.$amber-palette);
$dark-accent: mat.define-palette(mat.$purple-palette);
$dark-warn: mat.define-palette(mat.$yellow-palette);

// define dark mode theme
$angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-mode { @include mat.all-component-colors($angular-dark-theme); }
