/* Loyalty Card Styling */
.loyalty-card {
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 300px;
    background-color: #F1F7FF;
    margin-top: 4rem;
    border-radius: 10px;
    letter-spacing: .7px;
}

/* Header Styling */
.loyalty-card__header {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.loyalty-card__header-back-button {
    position: absolute;
    left: 0;
    top: 0;
}

.loyalty-card__header-title {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 2rem;
}

/* Toggle Section */
.loyalty-card__toggle-container {
    display: flex;
    align-items: center;
}

.loyalty-card__toggle-checkbox {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 34px;
    margin: 0;
}
  
.loyalty-card__toggle-label {
    position: relative;
    display: block;
    width: 46px;
    height: 22px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color .4s;
}


.loyalty-card__toggle-label::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 24px;
    height: 24px;
    background-color: #9e9e9e;
    border-radius: 50%;
    transition: transform .4s;
}

.loyalty-card__toggle-text {
    margin-left: 1rem;
}

.loyalty-card__toggle-checkbox:checked + .loyalty-card__toggle-label {
    background-color: #FFFFFF;
    border: 1px solid #1d724b;
}

.loyalty-card__toggle-checkbox:checked + .loyalty-card__toggle-label::before {
    transform: translateX(26px);
    background-color: #1d724b;
}

.loyalty-card__toggle-checkbox + .loyalty-card__toggle-label {
    border: 1px solid #9e9e9e;
}

/* Form Styling */
.loyalty-card__form-control {
    margin-top: 1.5rem;
    display: grid;
}

.loyalty-card__form-input {
    margin-top: 0.2rem;
    height: 2rem;
    border-radius: 10px;
    border: 2px solid #1d724b;
    padding: 0.6rem;
}

.loyalty-card__form-submit-button {
    width: 100%;
    height: auto;
    margin-top: 1.2rem;
    padding: 0.7rem;
    background-color: #1d724b;
    color: #ffffff;
    font-size: 0.9rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    letter-spacing: .7px;
}

.loyalty-card__form-submit-button:active {
    background-color: #f00909;
    transform: translateY(-2px);
}

.loyalty-card__form-submit-button:hover {
    background-color: #1A8855;
}

.visually-hidden {
    display: none;
}

/* Responsive Design For Larger Screens */
@media (min-width: 768px) {
    .loyalty-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
    }

    .loyalty-card__form {
        width: 100%;
        max-width: 300px;
    }

    .loyalty-card__toggle-text {
        margin-left: 2rem;
    }
}