.popup {
    width: 300px;
    max-width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 700;
    cursor: crosshair;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
  
        img {
            max-width: 150px;
            max-height: auto;
        }
    }
  
    .title {
        font-size: 24px;
        font-weight: bold;
        background-color: #1D724B;
        padding: 5px 10px;
        border-bottom: 3px solid #FFC153;

        h1 {
            color: #FFC153;
            margin: 0;
            font-size: 24px;
            text-align: center; 
        }
    }
  
    .version {
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    .links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    
        .privacy-policy,
        .terms-of-service {
            flex: 1;

            a {
                outline: none;
            }

            :hover {
                font-weight: bold;
            }
        }
    }
  
    .social-media {
        display: flex;
        justify-content: space-evenly;
    
        a {
            margin: 0 5px;
            outline: none;
    
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (max-width: 768px) {
      width: 300px;
    }
}
