.container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    width: 325px;
    cursor: crosshair;
}
  
.logo-container {
    position: relative;
    border-right: 1px solid #000;
    background-color: #FFC153;
}
.logo-container img {
    width: 150px;
    height: auto;
}

.title {
    position: relative;
    bottom: -25px;
    left: 0;
    background-color: #1D724B;
    padding: 5px 10px;
    border-bottom: 3px solid #FFC153;
}
.title h1 {
    color: #FFC153;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.version {
    position: relative;
    margin-top: 25px;
    padding: 5px 5px;
    background-color: #1D724B;
}
.version h3 {
    color: #ffffff;
    text-align: center;
}
  
.policy-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-media-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.icon {
    margin-bottom: 25px;
}
  
.icon img {
    width: 30px;
    height: auto;
}
