<div class="container">
  <div class="logo-container">
    <img src="{{ logo }}" alt="Map of Pi">
    <div class="title">
      <h1>Map of Pi</h1>
    </div>
    <div class="version">
      <h3>{{ version }}</h3>
    </div>
    <div class="policy">
      <div class="icon"><a href="{{ privacyPolicyLink  }}"><img src="{{ privacy_policy }}" alt="Privacy Policy"></a></div>
      <div class="icon"><a href="{{ privacyPolicyLink  }}"><img src="{{ privacy_policy }}" alt="Privacy Policy"></a></div>
    </div>
  </div>
  <div class="social-media-container">
    <div class="icon"><a href="{{ emailLink }}" target="_blank"><img src="{{ email_icon }}" alt="Email"></a></div>
    <div class="icon"><a href="{{ facebookLink }}" target="_blank"><img src="{{ facebook_icon }}" alt="Facebook"></a></div>
    <div class="icon"><a href="{{ instagramLink }}" target="_blank"><img src="{{ instagram_icon }}" alt="Instagram"></a></div>
    <div class="icon"><a href="{{ twitterLink }}" target="_blank"><img src="{{ twitter_icon }}" alt="Twitter"></a></div>
  </div>
</div>
