/* Business info and business image section */
.order-menu__content {
    margin: 0.7rem;
}

.order-menu__business-name {
    font-size: 1.2rem;
}

.order-menu__type, .order-menu__location {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    margin-bottom: 0.7rem;
}

.order-menu__type img, .order-menu__location img {
    height: 20px;
    width: auto;
}

.order-menu__product-text, .order-menu__location-address {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.order-menu__business-images {
    display: flex;
    column-gap: 0.7rem;
}

.order-menu__business-image {
    width: 94px;
    height: 114px;
    border-radius: 10px;
    margin-top: 1rem;
    object-fit: cover;
}
