body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    width: 100%;
    bottom: 0;
    padding: 10px;
    background: linear-gradient(to right, var(--color-background-color), #eaeaea);
    text-align: center;
    font-family: var(--font-family-main);
    border-top: 1px solid #dcdcdc;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    margin-top: 4rem;
}

.footer__links,
.footer__legal {
    margin-bottom: 0.5rem;
}

.footer__link,
.footer__icon {
    padding: 2px; /* Increases the touchable area */
    margin: 0 4px; /* Adjusts spacing around links */
}

.footer__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    width: 16px;
    height: 16px;
}

.footer__legal-link {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 0.6rem;
}

.footer__legal-link:hover,
.footer__link:hover .footer__icon {
    opacity: 0.7;
}

.footer__logo {
    width: 20px;
    height: auto;
}

@media (min-width: 567px) {
    .footer {
        padding: 20px 0;
    }

    .footer__icon {
        width: 22px;
        height: 22px;
    }

    .footer__legal-link {
        font-size: 0.7rem;
    }
    
    .footer__logo {
        width: 20px;
        height: auto;
    }

    .footer__link,
    .footer__icon {
        padding: 4px;
        margin: 0 5px; 
    }
}
