<main class="cart-content">
    <section class="cart-content__section">
        <h2 class="cart-content__business-name">Business name</h2>
        <h3 class="cart-content__order-message">Your order is complete make payment</h3>
        <div class="cart-content__cart-item">
        <img src="../../../assets/images/shopping/Dish-icon.png" alt="Dish icon" class="cart-content__dish-icon">
        <p class="cart-content__description">1x Roasted Vegetable Risotto</p>
        </div>

        <div class="cart-content__total-label">
        <span class="cart-content__total-price">Total Price:</span>
        <span class="cart-content__total-value">XX</span>
        <img src="../../../assets/images/shopping/Pi-payment-logo.png" alt="Pi logo" class="cart-content__pi-icon">
        </div>
        <button class="cart-content__order-button" aria-label="Place your order" [routerLink]="['/shop/transactions']">Pay by Pi</button>
    </section>
</main>  
