.privacy-policy-content {
    text-align: left;
    padding: 50px;

    h1, h2 {
      color: #1d724b;
    }

    h2 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      margin-bottom: 20px;
    }
}
