@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@import '../.././../assets/styles/business/business-registration/header.scss';
@import '../.././../assets/styles/business/business-registration/main.scss';
